 *{margin: 0; padding:0;}

.tisa{font-family:latha;background:url(./images/counter3.jpg)no-repeat; background-size: cover;background-color: black;color: black; opacity: 9;min-height: 100vh;display: flex;flex-direction: column;}
.list ul{list-style: none;padding: 0;margin: 0; float: left;text-align: center;position: center;margin-left:50%; list-style: none}	
.list li{display: inline-block; float: left;font-size: 20}
.list a{text-decoration:none;color: white; display: block; width:100px;padding: 10px,20px;}
.list ul li:hover{background-color: gold}
.list ul li a:hover{color: white}
.mat{width: 400px;
min-height:600px ;background-color: black;padding: 70px; margin-top:0px; }
.mat h1{text-align:justify;text-transform: uppercase;font-size: 30px;font-weight: bold; color: darkorange;width: 300px}
.mat p{text-align:justify;color:darkgray; font-size:23px;width: 300px }
.mat h2{ text-align: justify; width: 300px;text-transform: uppercase; font-size: 25px;font-weight: bold;color: darkorange; margin-top: 10px}
.btn button:hover{color: blue;}
.btn{color:black;border:none;margin:30px; text-decoration: bold;
 cursor:pointer; text-align:justify; padding:10px;border-radius:20px;font-size:25px;  }
 button a{text-decoration: none; font-weight: bold;}
 .fa{display: flex;margin-top:auto;}
 .fa a{ color:darkorange; margin: 10px;text-align:justify; font-size: 20px;padding: 10px 16px;text-decoration: none}
 .fa a:hover{color: white;}

/*end of styling for home page*/
/*styling for about us page*/
 .bdy{margin: 0;padding: 0;background-color:lightorange;display: flex;min-height: 100vh;font-family: latha}
.container img{height: 400px;align-items: center;justify-content: center; width: 800px;float: left;margin-top: 0px;margin-left: 20px}
.container2{text-align:center; align-items: center;letter-spacing: 0px;float: right; height: 100px; margin-top: 20px;margin-right: 0px}
.container2 h1{font-size: 30px;font-family:sans-serif; color: green;font-style: italic;}
.container2 h1:hover{color: black}
.container2 p{font-size: 20px;letter-spacing: 1px}
.btn2{border: 1px,red; position: center;align-items: center;justify-content: center;color: yellow;font-size: 20px;padding:10px;}
}

.btn2 a{text-decoration: none;color:red;}
.btn2 a:hover{color: black}
.gohome{color: darkblue;font-size: 16px;font-weight: bold;font-style: italic;}
.gohome a{text-decoration: none;}
/*styling for contact page*/
.cont3{background: url(./images/counter.jpg) no-repeat;background-size: cover; display: flex;align-items: center;justify-content: center;min-height: 100vh;}
.head{color:white ;font-size: 35px; align-items: center;text-transform: uppercase;display: flex;margin-bottom:700px;font-weight: bold;font-style: italic; justify-content: justify}
.cont1 form{display: block;padding: 0 10px;overflow: hidden; width: 600px ;max-height: 800px;justify-content: justify}
.ta{display: block;width:100%; box-sizing:border-box;margin: 16px 0;border: 0;outline: none;padding: 20px 40px ;background: black; color: white;font-size: 17px;}
.fafa{color:gray; display: flex; size: 30px;background-color:black;opacity: 9;}
.fafa a{color: darkorange; font-size: 20px; align-items: center; margin-bottom:0px;padding: 16px; margin-top: 450px;justify-content: center; float: left; }
/*servicepage*/
.service {align-items: center;display: flex;background-color: lightblue; min-height:100vh;width:auto; background-size: cover}
.service h1{font-size: 25px;font-style: italic;font-weight: bold;}
.allimg img {width: 250px;height:200px;margin: 10px}
.service table {margin-left: 0;margin-right: 0;margin-top: 50px}
.service table p{align-items:center;justify-content: justify;font-size: 20px; font-family: latha;letter-spacing: 0px;margin-top: 10px;display: flex;width: 250px;height: 200px;background-color: black;color:orange}
.service table th {font-size: 25px;font-style: italic; text-transform: uppercase; align-items: justify;background-color: black;color: orange}
.service table{width: 500px}
.service  table th:hover{color: white}
.service h3{align-content: top; margin-top:900px;background-color: orange}